.promo {
    margin-top: 150px;
}

.promo__content {
    border: 1px solid var(--color-blue);
    border-radius: 25px;
    padding: 45px 70px 25px;
    margin-bottom: 30px;
}

.promo__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.promo__column {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.promo__row {
    display: flex;
    column-gap: 120px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__row {
    display: flex;
    column-gap: 70px;
}

.form__label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 400;
}

.form__input {
    border: 0.50px solid var(--color-blue);
    border-radius: 25px;
    padding: 12px 14px 11px 28px;
}

.search {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 400;
}

.search__content {
    display: flex;
    border: 0.50px solid var(--color-blue);
    border-radius: 25px;
    justify-content: space-between;
    column-gap: 12px;
    width: 100%;
    padding: 14px 25px 13px 30px;

}

.search__input {
    width: 100%;
    font-size: 18px;
}

@media (max-width: 1440px) {
    .promo {
        margin-top: 150px;
    }

    .promo__content {
        padding: 45px 70px 25px;
        margin-bottom: 30px;
    }

    .promo__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .promo__column {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }

    .search__img {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: space-between;

    }

    .form__row {
        display: flex;
        column-gap: 70px;
    }

    .form__label {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;
        font-weight: 400;
    }

    .form__input {
        border: 0.50px solid var(--color-blue);
        border-radius: 25px;
        padding: 12px 14px 11px 28px;
        width: 100%;
    }

    .search {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;
        font-weight: 400;
    }

    .search__content {
        display: flex;
        border: 0.50px solid var(--color-blue);
        border-radius: 25px;
        justify-content: space-between;
        column-gap: 12px;
        width: 100%;
        padding: 14px 25px 13px 30px;

    }

    .search__input {
        width: 100%;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .promo {
        margin-top: 120px;
    }

    .promo__content {
        padding: 35px 15px 15px;
        margin-bottom: 30px;
    }

    .promo__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .promo__column {
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }

    .search__img {
        display: none;
    }

    .form {
        flex-direction: column;
        row-gap: 40px;
        justify-content: space-between;
    }

    .form__row {
        column-gap: 20px;
        flex-direction: column;
        row-gap: 20px;
    }

    .form__label {
        column-gap: 10px;
        font-size: 16px;
        font-weight: 400;
    }

    .label__text {
        display: none;
    }

    .form__input {
        border: 0.50px solid var(--color-blue);
        border-radius: 25px;
        padding: 10px 20px;
    }

    .search {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 16px;
        font-weight: 400;
    }

    .search__content {
        display: flex;
        border: 0.50px solid var(--color-blue);
        border-radius: 25px;
        justify-content: space-between;
        column-gap: 12px;
        width: 100%;
        padding: 10px 15px;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .search__input {
        width: 100%;
        font-size: 16px;
    }
}