.download {
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 2000px;
    width: 150px;
    display: flex;
}

@media (max-width: 768px) {
    .download {
        width: 90px;
        margin-top: 150px;
    }
}