.row__content {
    display: flex;
    flex-direction: column;
}

.content__title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--color-white);
    font-family: var(--font-family-2);
}

.content__description {
    max-width: 700px;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
    color: var(--color-white);
    margin-bottom: 50px;
}

.film__rating {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.imdb__img {
    width: 80px;
}

.ratingKinopoisk__img {
    width: 50px;
    border-radius: 50px;
}

.imdb,
.ratingKinopoisk {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.imdb__text,
.ratingKinopoisk__text {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.watch__button {
    margin-top: 50px;
    border-radius: 20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    padding: 11px 31px;
    width: 250px;
    text-align: center;
}

.watch__button:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

@media (max-width: 1024px) {
    .row__content {
        display: flex;
        flex-direction: column;
    }

    .content__title {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .content__description {
        max-width: 500px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .film__rating {
        column-gap: 30px;
    }

    .imdb__img {
        width: 60px;
    }

    .ratingKinopoisk__img {
        width: 40px;
    }

    .imdb,
    .ratingKinopoisk {
        column-gap: 10px;
    }

    .imdb__text,
    .ratingKinopoisk__text {
        font-size: 16px;
    }

    .watch__button {
        margin-top: 40px;
        font-size: 21px;
        font-weight: 600;
        padding: 10px 31px;
        width: 230px;
    }
}

@media (max-width: 768px) {
    .row__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__title {
        margin-top: 40px;
        font-size: 38px;
        margin-bottom: 20px;
    }

    .content__description {
        max-width: 370px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .film__rating {
        column-gap: 25px;
    }

    .imdb__img {
        width: 55px;
    }

    .ratingKinopoisk__img {
        width: 37px;
    }

    .imdb,
    .ratingKinopoisk {
        column-gap: 7px;
    }

    .imdb__text,
    .ratingKinopoisk__text {
        font-size: 16px;
    }

    .watch__button {
        margin-top: 50px;
        font-size: 19px;
        font-weight: 600;
        padding: 10px 25px;
        width: 200px;
    }
}


@media (max-width: 475px) {

    .content__title {
        margin-top: 30px;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .content__description {
        max-width: 290px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 50px;
    }

    .film__rating {
        column-gap: 20px;
    }

    .imdb__img {
        width: 50px;
    }

    .ratingKinopoisk__img {
        width: 35px;
    }

    .imdb,
    .ratingKinopoisk {
        column-gap: 7px;
    }

    .imdb__text,
    .ratingKinopoisk__text {
        font-size: 15px;
    }

    .watch__button {
        margin-top: 45px;
        font-size: 17px;
        font-weight: 500;
        padding: 8px 25px;
        width: 180px;
    }
}