.film {
    margin-top: 80px;
    position: relative;
    margin-bottom: 80px;
}

.download {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 150px;
}

.film__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.row__title {
    column-gap: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.row__text {
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 400;
}

.film__title {
    font-weight: 500;
    font-size: 48px;
    color: var(--color-white);
    font-family: var(--font-family-2);
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .film {
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .film__title {
        font-size: 36px;
    }

    .film__row {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .film {
        margin-bottom: 20px;
    }

    .film__title {
        font-size: 32px;
    }

    .film__row {
        margin-bottom: 3px;
    }

    .row__text {
        font-size: 17px;
    }

    .row__img {
        width: 19px;
    }
}

@media (max-width: 475px) {
    .film {
        margin-bottom: -20px;
    }

    .film__title {
        font-size: 26px;
    }

    .row__text {
        font-size: 14px;
    }

    .row__img {
        width: 14px;
    }

    .download {
        margin-top: 20px;
        width: 75px;
    }
}